@model Customer

@{
    ViewData["Title"] = "My Products";
}

<div class="text-center">
    <h1 class="display-4">My Rocket Elevators Products</h1>
    <p> This section is under construction </p>
</div>

